{% load crispy_forms_tags %}

{% for field in form.visible_fields %}
    {% if field.field.widget.input_type == 'checkbox' %}
        <div class="form-check">
            {{ field|as_crispy_field }}
        </div>
    {% else %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|as_crispy_field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
